.container {
  border: 2px solid black;
}

.wrap{
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.flexmanag{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  width: 960px;
  height: 100%;
}

.acchead {
background-color:white;
width: 100%;
padding-left: 40px;
display:flex;
justify-content: space-evenly;
align-items: flex-end;
}

.accpanel{
  display:flex;
  justify-content: flex-start;
  align-items: stretch;
}

.acctable{
  width: 100%;
  height: 450px;
  flex-grow: 2;
  border: none;
}

.accfooter{
 background-color: white;
 border-top: 1px solid black;
}

.flex{
flex: 1 2 content;
color: black;
max-height: 100px;
align-self: inherit;
}

button.buttonpanel {
  background-color: #b44136; /* Green background */
  border: 3px solid #002e63; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float:right; /* Float the buttons side by side */
  min-height: auto;
  max-height: 50px;
}



.awatar {
width:auto;
  max-height:100px;
  border:1px solid grey;
  background-repeat:no-repeat;
  background-size:cover;
}
