.container {
  border: 2px solid black;
}

.flexmanag{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  flex-direction: column;
}

.acchead {
background-color:white;
width: 100%;
padding-left: 40px;
}

.flex{
flex: 1 2 content;
color: black;
max-height: 100px;
align-self: inherit;
}

button {
  background-color: #b44136; /* Green background */
  border: 3px solid #002e63; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float:right; /* Float the buttons side by side */
  min-height: auto;
  max-height: 50px;
}

