input[type=text] {
  padding: 5px;
  border: 2px solid #002e63;
  width: 80%
}

input[type=password] {
  padding: 5px;
  border: 2px solid #002e63;
  width: 80%
}

input[type=submit] {
  padding: 5px 10px;
  max-width: 150px;
}

.categoryA{
  color: #ffb300;
  font-size: 24px;
  font-strenght: bold;
}

.categorybox{
  padding: 30px 40px;
  width: 25%;
  text-align: center;
  flex-shrink: 0;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.box{
  display: flex;
  justify-content: space-evenly;
}

.hiddenbox{
  border: 1px solid black;
}

#praca{
  display: flex;
  height: 50px;
}

.pracabox {
  margin: 15px;
  width: 50%;
  flex-grow: 1;
  text-align: center;
}

footer{
  height: 15%;
  background-color: white;
  position: absolute;
  bottom: auto;
}


/* Dropdown */
