body {
background-color: #b264d9;
}

.wrap {
  max-width: 100%;
  padding-left: 20px;
  box-sizing: border-box;
  border: 2px groove black;
  background-color: #d0ff14;
}

.main {
border: 2px solid black;
background-color: white;
}

.register {
  position: fixed;
  left: 70%;
}

.panel-search{
  background-color: #009e60;
  padding: 10px 25px;
  border: 2px solid #008000;
}
.page-header {
  background-color: white;
  position: relative;
}



input[type=text] {
  padding: 5px;
  border: 2px solid #008000;
  width: 80%
}

input[type=password] {
  padding: 5px;
  border: 2px solid #008000;
  width: 80%
}

input[type=submit] {
  padding: 5px 10px;
  max-width: 150px;
}

.pfixed {
  position: fixed;
}

.nav-pills>li>a {
  height: 100%;
  display:flex !important;
  align-items:center;
}

.navA{
color: black;
}

.addA{
  background-color: orange;
  font-style: bold;

}

.categoryA{
  color: green;
  font-size: 24px;
  font-strenght: bold;
}

.btnhead {
position: absolute;
top: 5px;
border: 2px ridge #229655;
color: black;
}



.test {
  background-color: Green;
  color: purple;
}

#tt {
  color: #1919b3;
}

#ee {
  color: #f42500;
}
